
@{
    ViewBag.Title = "Dictionary";
    Layout = "~/Views/Shared/_stoneLayout.cshtml";
}

<section class="module-sm">
    <div class="container-fluid container-custom">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt m-b-0">Dictionary</h2>
            </div>
        </div>
    </div>
</section>

<hr class="divider">
<section class="module">
    <div class="container-fluid container-custom">


    </div>
</section>