
@{
    ViewBag.Title = "Procrastinate";
    Layout = "~/Views/Shared/_stoneLayout.cshtml";
}

<section class="module-sm">
    <div class="container-fluid container-custom">

        <!-- MODULE TITLE -->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title">Don't do it.</h2>
                <p class="module-subtitle m-b-0">(But if you must...)</p>
                <br />
            </div>
        </div>
        <!-- /MODULE TITLE -->
        <!-- POST VIDEO -->
        <article>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/arj7oStGLkU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            <div class="post-header">
                <h2 class="post-title font-alt">Inside the mind of a master procrastinator</h2>
                <div class="post-meta">
                    Speaker: <a href="#">Tim Urban</a>
                </div>
            </div>
            <div class="post-content">
                <p>Found this video on procrastination while procrastinating on making the procrastination section of this website. Fifteen minutes later, I found myself enjoying the contents of this video and thought I'd give it a mention and share on this site.<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></p>
            </div>
        </article>
        <!-- /POST VIDEO -->
        <blockquote>
            <p>I love procrastination. I love it when a deadline catches up to me and I get overwhelmed and stressed out.<cite>- No one </cite></p>
        </blockquote>
        <br />
        <!-- POST VIDEO -->
        <article>
            <div class="post-header">
                <h2 class="post-title font-alt">Here's one more!</h2>
                <div class="post-meta">
                    YouTube channel credits: <a href="#">Petcha</a>
                </div>
            </div>
            <iframe width="420" height="250" src="https://www.youtube.com/embed/gghfoRKVPCo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
        </article>
        <!-- /POST VIDEO -->
    </div>
</section>


<section class="module-xs">
    <div class="container-fluid container-custom" style="text-align: center">
        <p>Just as these dogs conquered those stairs, you too can conquer through the rest of your day! <i class="fa fa-paw" aria-hidden="true"></i></p>
        <p class="module-subtitle">Let's get back to work!</p>
    </div>
</section>
